<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alienYellow_climb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1,1048},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alienYellow_climb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{132,168}</string>
                <key>textureRect</key>
                <string>{{1,1218},{132,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alienYellow_duck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,146}</string>
                <key>spriteSourceSize</key>
                <string>{140,146}</string>
                <key>textureRect</key>
                <string>{{1,1724},{140,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alienYellow_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,168}</string>
                <key>spriteSourceSize</key>
                <string>{131,168}</string>
                <key>textureRect</key>
                <string>{{1,1388},{131,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alienYellow_hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,168}</string>
                <key>spriteSourceSize</key>
                <string>{138,168}</string>
                <key>textureRect</key>
                <string>{{1,878},{138,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alienYellow_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,171}</string>
                <key>spriteSourceSize</key>
                <string>{135,171}</string>
                <key>textureRect</key>
                <string>{{1,533},{135,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alienYellow_stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,164}</string>
                <key>spriteSourceSize</key>
                <string>{133,164}</string>
                <key>textureRect</key>
                <string>{{1,1558},{133,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alienYellow_swim1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,174}</string>
                <key>spriteSourceSize</key>
                <string>{138,174}</string>
                <key>textureRect</key>
                <string>{{1,357},{138,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alienYellow_swim2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,177}</string>
                <key>spriteSourceSize</key>
                <string>{140,177}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alienYellow_walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,170}</string>
                <key>spriteSourceSize</key>
                <string>{134,170}</string>
                <key>textureRect</key>
                <string>{{1,706},{134,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alienYellow_walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,175}</string>
                <key>spriteSourceSize</key>
                <string>{140,175}</string>
                <key>textureRect</key>
                <string>{{1,180},{140,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>YellowAlien.png</string>
            <key>size</key>
            <string>{142,1871}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e29a5a0f3882d342cba0f037d102193:819d44fde74a641d15fb66f27721f514:bb7729003c8ed87a56037373719f436a$</string>
            <key>textureFileName</key>
            <string>YellowAlien.png</string>
        </dict>
    </dict>
</plist>
